*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  background-image: url("html_css_homework_homework3_Milan_Holidays.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container{
  width: 1000px;
}
.head{
  height: 50px;
  margin: 20px auto;
}
.milan{
  float: left;
}
.logo{
  height: 46px;
  width: 46px;
  margin-right: 10px;
  background-image: url("logo@1X.png");
}
.milan a{
  text-decoration: none;
  color: white;
  display: flex;
  transition: all ease;
}
.milan a:hover {
  color: #F26522;
}
.milan a:hover .logo{
  background-image: url("logoorange.jpg");
}
.milan span{
  display: block;
}
.milantxt{
  font-size: 26px;
  font-weight: bold;
}
.holidaystxt{
  font-size: 17px;
  font-weight: bold;
}
.contacts{
  float: right;
  color: white;
  font-size: 18px;
}
.contacts-link{
  text-decoration: none;
  color: white;
}
.contacts-link:hover{
  color: #F26522;
}
.number{
  float: right;
}
.main{
  margin: 0 auto;
  text-align: justify;
}
.block{
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}
.block a{
  text-decoration: none;
}
.block img{
  width: 290px;
  height: 180px;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, white, black);
  border-image-slice: 1;
  box-shadow: 0 15px 20px black;
}
.block:hover .text{
  color: #F26522;
}
.float-left{
  float: left;
  margin-right: 65px;
}
.float-right{
  float: right;
}
.text{
  display: block;
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
.info{
  color: white;
  opacity: 0;
  width: calc(100% - 4px);
  left: 2px;
  height: 70px;
  position: relative;
  margin-bottom: -100px;
  bottom: 100px;
}
.block:hover .info{
  background-color: #F26522;
  opacity: 1;
  transform: translateY(-7px);
  transition: transform .1s linear, opacity .2s linear .2s;
}
.details{
  text-decoration: none;
  color: white;
  float: right;
  margin-top: 17px;
  margin-right: 10px;
  font-size: 15px;
}
.from{
  font-size: 10px;
  margin-left: 15px;
  margin-top: 20px;
  position: absolute;
}
.price{
  transform: translateY(20px);
  position: absolute;
  font-size: 20px;
  margin-left: 15px;
}
.foot{
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}
