body{
	background: #3a4965;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', serif;
}

*{
	box-sizing: border-box;
}

table{
	table-layout: fixed;
	border-collapse: collapse;
	border: none;
	background-color: white;
  height: calc(100vh - 40px);
	width: calc(100vw - 40px);
	margin: 20px;
	text-align: center;
	align-items: center;
}

.choose_plan{
	color: #484848;
	font-weight: 700;
	font-size: 14pt;
  height: auto;
  width: 250px;
}

.head{
  height: 120px;
}

.header-txt{
  font-size: 20px;
  font-weight: bold;
}

.pricing_plan{
	font-size: 20pt;
}

img{
  margin-bottom: 10px;
}

.a {
	color: #484848;
	font-size: 16pt;
	font-weight: 700;
	align-items: center;
}

.price {
	position: relative;
	font-size: 20px;
	vertical-align:17px;
	right: 14px;
}

.standard{
	background: #89c331;
	color: white;
	font-size: 32pt;
	font-weight: 700;
}

.ultimate{
	background: #f04a56;
	color: white;
	font-size: 32pt;
	font-weight: 700;
}

.premium{
	background: #20807c;
	color: white;
	font-size: 32pt;
	font-weight: 700;
}

.level_size{
	position: relative;
	font-size: 28px;
}

.month{
	font-size: 16px;
	position: relative;
	right: 15px;
}

button{
	width: 80%;
	height:45px;
	color: white;
	font-size: 16pt;
	border-radius: 8px;
	border: none;
	border-bottom: 9px solid #343434;
	background: #414141;
	font-weight: 700;
	transition: all 0.4s ease 0s;
	}

button:hover{
	letter-spacing: 5px;
	background: gold;
	color: black;
	border-bottom: 9px solid #fcba03;
	transition: all 0.4s ease 0s;
}

.bg-light{
  background-color: #F2F2F2;
}
.bg-dark{
  background-color: #E3E3E3;
}
.border{
  border-top: 3px solid rgba(0, 0, 0, .08);
}

