*{
  box-sizing: border-box;
}

body{
   background-image: url("rana-sawalha-364253-unsplash@1X.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Verdana;
 }

.head{
  position: relative;
  background-color: black;
  opacity: 0.5;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.journey{
  font-size: 20px;
  font-weight: bold;
  margin-left: 70px;
}

.jrn{
  text-decoration: none;
  color: white;
}

.jrn:hover{
  color: #3CB878;
}

.sprite{
  margin-left: 777px;
  height: 50px;
  display: flex;
}

.css-sprite-ic_caledar1X {
  background-image: url("ic_caledar@1X.png");
  width:19px;
  height:19px;
  display:inline-block;
  margin: 15px 10px;
}

.css-sprite-ic_caledar1X:hover{
  background-image: url("ic_caledar.png");
}

.css-sprite-ic_forum1X {
  background-image: url("ic_forum@1X.png");
  width:28px;
  height:20px;
  display:inline-block;
  margin: 15px 10px;
}

.css-sprite-ic_forum1X:hover{
  background-image: url("ic_forum.png");
}

.css-sprite-ic_journey1X {
  background-image:url('ic_journey@1X.png');
  width:20px;
  height:20px;
  display:inline-block;
  margin: 15px 10px;
}
.css-sprite-ic_journey1X:hover{
  background-image: url("ic_journey.png");
}

.log-sign{
  float: right;
  margin-right: 50px;
  color: white;
  margin-left: auto;
  font-size: 14px;
}

.log{
  text-decoration: none;
  color: #3CB878;
}

.log:hover{
  text-decoration: underline;
}

.sign{
  text-decoration: none;
  color: #3CB878;
}

.sign:hover{
  text-decoration: underline;
}

.welcome{
  border-left: 1px solid grey;
  padding-left: 35px;
}

.window-box{
  display: flex;
  align-items: center;
  height: 505px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  margin: 50px auto;
}

.container{
  width: 300px;
  height: 460px;
  margin: 0 auto;
}

.window-header-txt{
  display: flex;
  justify-content: space-between;
}

.w-sighnup{
  font-size: 21px;
}

.w-login{
  font-size: 16px;
  text-decoration: none;
  color: green;
}

.w-login:hover{
  text-decoration: underline;
}

.fb-google{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.google{
  display: flex;
  background-color: #DF4A32;
  height: 40px;
  width: 145px;
  border-radius: 3px;
}

.google:hover{
  background-color: #C3412C;
}

.facebook{
  display: flex;
  background-color: #305DB8;
  border-radius: 3px;
  height: 40px;
  width: 145px;
}

.facebook:hover{
  background-color: #264B96;
}

.fbimage{
  margin: 12px 12px 12px 16px;
  padding-right: 16px;
}

.googleimage{
  margin: 12px 13px 12px 13px;
  padding-right: 8px;
}

.fbtxt{
  margin: 12px 0 10px -12px;
  color: white;
  border-left: 1px solid grey;
  padding-left: 12px;
}

.googletxt{
  margin: 12px 0 10px -12px;
  color: white;
  border-left: 1px solid grey;
  padding-left: 15px;
}

.links{
  text-decoration: none;
}

.contact-form{
  margin-top: 27px;
  padding-top: 15px;
  border-top: 1px solid #EAEAEA;
}

.input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #EAEAEA;
  opacity: 0.5;
  padding: 10px 15px;
  border-radius: 2px;
}

.input:focus{
  box-shadow: 1px 2px 3px 2px #EAEAEA;
  color: black;
  opacity: 1;
}

.input-checkbox{
  display: block;
  margin-top: 15px;
}

.button{
  width: 100%;
  background-color: #3CB878;
  color: white;
  margin-top: 15px;
  border: none;
  border-radius: 3px;
  padding: 15px 15px;
}

.button:hover{
  background-color: #329A65;
}

.green-square{
  height: 18px;
  width: 18px;
  background-color: #3CB878;
  position: absolute;
  align-self: self-start;
  margin-top: 26px;
}

.agreement{
  color: #3CB878;
  text-decoration: none;
}

.agreement:hover{
  text-decoration: underline;
}

.input-checkbox span{
  font-size: 14px;
}

.or{
  text-align: center;
  width: 50px;
  color: #848484;
  background-color: white;
  z-index: 5;
  margin: 20px 0 0 125px;
  position: absolute;
  font-size: small;
}

