body{
	background: #3a4965;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', serif;
}

*{
	box-sizing: border-box;
}

img{
	position: relative;
	right: 10px;
	top: 4px;
	align-items: center;
}


table{
	table-layout: fixed;
	border-collapse: collapse;
	background-color: white;
	height: 910px;
  width: 1850px;
  margin: 24px 40px 32px 22px ;
  text-align: center;
}

td{
  /*border-left: 3px solid #D9D9D9;*/
  /*border-right: 3px solid #D9D9D9;*/
  box-shadow: 3px 0 rgba(0, 0, 0 ,.1);
}

button{
	width: 192px;
	height:49px;
	color: white;
	font-size: 16pt;
	border-radius: 8px;
	border: none;
	transition: all 0.4s ease 0s;
}

button:hover {
  letter-spacing: 5px;
  width: 255px;
  transition: all 0.4s ease 0s;
}

.header, .price_bg{
	background: #fafafa;
}

.footer{
	background: #DDDDDD;
}

.choose_plan{
	color: #484848;
	font-weight: 700;
	font-size: 18pt;
}

.pricing_plan{
	font-size: 30pt;
}

.standard{
  border: none;
	color: white;
	background: #89c331;
	font-size: 24pt;
}

.ultimate{
	color: white;
	background: #f04a56;
	font-size: 30pt;
  border: none;
}

.premium{
	color: white;
  border: none;
	background: #20807c;
	font-size: 24pt;
}

.price {
	font-weight: 700;
	color: #484848;
	padding-left: 50px;
	font-size: 60pt;
}

.price_2{
	position: relative;
	font-weight: 700;
	color: #484848;
	font-size: 24pt;
	bottom: 32px;
	right: 20px;
}

.month{
	font-weight: 400;
	font-size: 18pt;
	position: relative;
	right: 72px;
}

.per_month{
	font-size: 20pt;
	font-weight: 400;
	position: relative;
	right: 94px;
}

.content{
	color: #484848;
	font-size: 16pt;
	align-items: center;
	background: #f2f2f2;
}

.content_2{
	color: #484848;
	font-size: 16pt;
	align-items: center;
	background: #e3e3e3;
}

.button_contact{
	border-bottom: 9px solid #404040;
	background: #484848;
}

.buy_now1{
	border-bottom: 9px solid #79b027;
	background: #89c331
}

.buy_now2{
	border-bottom: 9px solid #df3a46;
	background: #f04a56;
}

.buy_now3{
	border-bottom: 9px solid #16736f ;
	background: #20807c;
}


