body {
    font-family: Montserrat, sans-serif;
}

.header-bg:before {
    content: "";
    background-color: #605F5A;
    position: absolute;
}

.header-bg{
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.first {
    display: flex;
    justify-content: center;
    height: 100px;
    background: rgba(88,88,88,0.6);
    align-items: center;
}

.header-container {
    display: flex;
    height: 120px;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu-link {
    display: flex;
    text-decoration: none;
    color: #B8B8B8;
    margin: 0 10px;
    font-size: 12px;
    padding: 43px 0;
    border: 2px solid transparent;
}

.header-menu-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    overflow: hidden;
}

.header-search {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    text-decoration: none;
    color: #B8B8B8;
    margin-bottom: -5px;
}

.header-search:hover {
    color: #18cfab;
}

.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-link {
    text-decoration: none;
}

.logo-H {
    position: absolute;
    font-size: 30px;
    font-weight:700;
    color: white;
    margin-left: 9px;
    margin-top: 1px;
}

.theHam {
    background-image: url("../img/header/Polygon 1@1X.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.the {
    color: white;
    font-size: 15px;
}

.Ham {
    color: #18CFAB;
    font-size: 15px;
    font-weight: 700;
}

.top-words {
    margin: 0 auto;
    position: absolute;
    bottom: 20%;
    left: 25%;
}
.top-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.top-green-text {
    margin-left: 10px;
    display: inline-block;
    color: #18CFAB;
    font-weight: 700;
}

.top-section-middle {
    color: white;
    font-size: 69px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.top-section-bottom {
    color: #BFBFBF;
    font-size: 30px;
    font-weight: 400;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.header-green-btn {
    width: 167px;
    height: 62px;
    background-color: #18CFAB;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 -4px 0 0 white;
}
.header-blue-button {
    width: 167px;
    height: 62px;
    background-color: #00CBF6;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 -4px 0 0 white;
}


.blocks {
    display: flex;
}

.block-dark {
    background-color: #1C2A33;
    border-top: 4px solid #18CFAB;
}
.block-green {
    background-color: #18CFAB;
    border-top: 4px solid white;
}


.block-dark,
.block-green{
    width: 25%;
    height: 280px;
}
.block-icon-finger {
    background-image: url("../img/blocks/Forma 1@1X.png");
}
.block-icon-diamond {
    background-image: url("../img/blocks/Forma 1@1X (1).png");
}
.block-icon-bulb {
    background-image: url("../img/blocks/Forma 1@1X (2).png");
}
.block-icon-devices {
    background-image: url("../img/blocks/Forma 1@1X (3).png");
}

.block-icon-devices,
.block-icon-bulb,
.block-icon-diamond,
.block-icon-finger {
    background-repeat: no-repeat;
    background-position: center 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.block-icon-green-text{
    color: #18CFAB;
    font-size: 20px;
    margin-bottom: 50px;
}

.block-icon-white-text {
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.services-header {
    margin-top: 90px;
    text-align: center;
    font-size: 36px;
    position: relative;
}

.services-header:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 75px;
    top: 70px;
    left: calc(50% - 33px);
    transform: skewX(75deg);
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1000px;
    height: 70px;
    margin: 100px auto 25px auto;
    cursor: pointer;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBEB;
    background-color: #F8FCFE;
}
.tab:hover{
    background-color: #18cfab;
}

.tabs-content{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-content-item{
    display: grid;
    width: 100%;
    grid-template-columns: 194px 925px;
    grid-gap: 20px;
    margin: 0 auto;
}

.services-img {
    display: inline-block;
    width: 194px;
    height: 139px;
}

.tabs-content-item-text{
    display: inline-block;
    width: 786px;
    margin-bottom: 90px;
}

.tabs-container {
    width: 1000px;
    margin: 0 auto;
}

.purchase-section-bg{
    background: no-repeat center url("../img/Sections background/section-2.jpg") fixed;
    width: 100%;
    height: 410px;
    background-size: cover;
    margin-bottom: -40px;
}

.purchase-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: -30px;
}

.purchase-headline{
    font-size: 40px;
    font-weight: 700;
    color: #18cfab;
    padding-top: 90px;
    padding-bottom: 35px;
}

.purchase-text{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 50px;
}

.our-work-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #f8fcfe;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}

.category-plate{
    display: flex;
    margin-bottom: 70px;
    margin-top: 100px;
    justify-content: center;
    cursor: pointer;
}

.category-plate-item{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.category-img-plate{
    display: grid;
    flex-wrap: wrap;
    width: 1145px;
    height: 625px;
    grid-template-rows: repeat(3, 206px);
    grid-template-columns: repeat(4, 284px);
}

.category-img-plate-load-more{
    display: grid;
    flex-wrap: wrap;
    width: 1145px;
    height: 1250px;
    grid-template-rows: repeat(6, 206px);
    grid-template-columns: repeat(4, 284px);
}

.hover-plate{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 206px;
    width: 284px;
}

.hover-plate:hover{
    border-top: 3px solid #18cfab;
}

.icons-case{
    padding-top: 43px;
    width: 85px;
    display: flex;
    justify-content: space-between;
}

.hover-plate-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #18cfab;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.hover-plate-icons:hover{
    background-color: #18cfab;
    color: white;
}

.green-text-hover{
    font-size: 24px;
    color: #18cfab;
    text-transform: uppercase;
    padding-top: 35px;
}

.hover-plate-category{
    padding-top: 15px;
}

.category-img-plate-item{
    position: relative;
    display: none;
    width: 284px;
}

.category-img-plate-item:hover img{
    display: none;
}

.category-img-plate-item:hover .hover-plate{
    display: flex;
}

.is-on{
    display: inline-block;
}

.load-more-btn{
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 25px 20px 25px 55px;
    background-color: #18cfab;
    text-decoration: none;
    cursor: pointer;
}

.load-more-btn:before{
    position: absolute;
    content: '+';
    font-size: 30px;
    top: 17px;
    left: 20px;
}

.news-section{
    padding-bottom: 50px;
}

.news-plate{
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    margin: 0 auto;
}

.news-plate-item{
    display: grid;
    grid-template-rows: 208px 72px;
    border: 1px solid rgba(0,0,0, 0.1);
    margin: 100px 0;
    cursor: pointer;
}

.date-month{
    box-sizing: border-box;
    float: right;
    height: 70px;
    width: 65px;
    padding: 12px;
    background-color: #203e38;
    text-align: center;
    line-height: 25px;
    color: #FFFFFF;
}

.month{
    line-height: 25px;
}

.news-img-div1{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 47@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-img-div2{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 50@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-img-div3{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 51@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-img-div4{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 52@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-img-div5{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 53@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-img-div6{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 54@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-img-div7{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 55@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-img-div8{
    height: 208px;
    width: 263px;
    background-image: url("../img/news/Layer 56@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-explain{
    position: relative;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    color: rgba(0,0,0, 0.6);
}

.news-explain-hover{
    position: relative;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #18cfab;
}

.news-explain:before{
    position: absolute;
    display: inline-block;
    content: 'By admin';
    font-weight: 400;
    font-size: 14px;
    width: 75px;
    border-right: 1px solid #888989;
    color: #888989;
    top: 45px;
    left: 17px;
}

.news-explain:after{
    position: absolute;
    content: '2 comment';
    font-weight: 400;
    font-size: 14px;
    color: #888989;
    top: 45px;
    left: 110px;
}

.news-plate-item:hover .date-month{
    background-color: #18cfab;
}

.news-plate-item:hover .news-explain{
    display: none;
}
.news-plate-item .news-explain-hover {
    display: none;
}
.news-plate-item:hover .news-explain-hover{
    display: inline-block;
}

.news-explain-hover:before{
    position: absolute;
    display: inline-block;
    content: 'By admin';
    font-weight: 400;
    font-size: 14px;
    width: 75px;
    border-right: 1px solid #888989;
    color: #888989;
    top: 45px;
    left: 17px;
}

.news-explain-hover:after{
    position: absolute;
    content: '2 comment';
    font-weight: 400;
    font-size: 14px;
    color: #888989;
    top: 45px;
    left: 110px;
}

.news-plate-item:hover .news-explain{
    color: #18cfab;
}

.review-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background: no-repeat center fixed url("../img/Sections background/section-3.jpg");
    height: 100%;
    background-size: cover;
    width: 100%;
    margin-bottom: 100px;
}

.review-section{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

.quotes {
    width: 45px; height: 31px;
    background: url('../img/Forma 1@1X.png') no-repeat;
    margin-top: 90px;
}

.review-text{
    display: none;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 1000px;
    box-sizing: border-box;
}

.big-reviewer{
    flex-direction: column;
    align-items: center;
    display: none;
    justify-content: space-between;
    height: 220px;
}

.reviewer-info{
    font-size: 12px;
    line-height: 2;
    text-align: center;
}

.green-text-review{
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-size: 16px;
}

.big-reviewer-img{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(0, 79, 56, 0.6);
    animation: pulsing 1s ease-in-out;
}

.reviewer-case{
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 480px;
    justify-content: space-between;
}

.reviewer-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 5px rgba(0, 79, 56, 0.6);
}

.basic-slide{
    padding: 9px 12px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.basic-slide:hover{
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.basic-title{
    margin: 0 auto;
}

.katya{
    background: no-repeat center url("../img/avatars/avatar-2.png");
    background-size: cover;
}

.tony{
    background: no-repeat center url("../img/avatars/img_avatar.png");
    background-size: cover;
}

.hasan{
    background: no-repeat center url("../img/avatars/img_avatar2.png");
    background-size: cover;
}

.jessica{
    background: no-repeat center url("../img/avatars/avatar-7.png");
    background-size: cover;
}

.page-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #22353f;
    padding: 45px 0;
    margin-bottom: 10px;
    margin-top: -90px;
}

.copy-text{
    color: white;
}

.active-reviewer{
    border: 1px solid #18cfab;
    animation: go-up 1s forwards;
}

.active-category{
    color : #18CFAB;
    border-top: 2px solid #18cfab;
    box-sizing: border-box;
}

.active-review{
    display: inline-block;
}

.active-big-review{
    display: flex;
}

.active{
    position: relative;
    background-color: #18CFAB;
    color: #FFFFFF;
    border : none;
}

.active:before{
    content: " ";
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #18CFAB;
    top: calc(100% - 10px);
    left: calc(50% - 10px);
    transform: rotate(45deg);
}
.basic-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes pulsing {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 79, 56, 0.6);
    }
    50% {
        box-shadow: 0 0 0 15px rgba(0, 79, 56, 0.6);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 79, 56, 0.6);
    }
}

@keyframes go-up {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}


