:root {
  --ramda-col: #4BCAFF;
  --header-menu-col: #35444F;
  --footer-menu-col: #B4B7BA;
  --hover-col: #DBDBDB;
  --menu-hover-col: #222F3A;
}
*{
  box-sizing: border-box;
}
body{
  padding: 0 auto;
  margin: 0 auto;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.ramda{
  padding: 0;
  margin-top: 30px;
  margin-left: -15px;
}
.ramdaword{
  text-decoration: none;
  font-size: 50px;
  color: black;
}
.mda{
  color: var(--ramda-col);

}
.top-menu{
  text-decoration: none;
}
.header-menu{
  background-color: var(--header-menu-col);
  height: 50px;
  margin-top: 30px;
  padding-left: 280px;
}
.header-menu-link{
  vertical-align: middle;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.header-menu-link:hover{
  background-color: var(--menu-hover-col);
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    opacity: 1;

}
.questions{
  display: inline-block;
  margin-top: 40px;
  width: 250px;
  border: 1px solid var(--header-menu-col);
  font-size: 22px;
}
.qs{
  padding: 18px 0 18px 30px;
}
.qs:hover{
  transition:  .2s ease-out;
  background-color: var(--hover-col);
  padding-left: 50px;
}
.side{
  text-decoration: none;
  color: var(--header-menu-col);
}
.border{
  border: 1px solid var(--header-menu-col);
  width: calc(100% - 270px);
  float: right;
  margin-top: 40px;
  height: 420px;
  overflow: hidden;
  text-align: center;
}
.pic{
  display: inline-block;
  top: 34%;
  left: 50%;
  vertical-align: middle;
  horiz-align: center;
  height: 399px;
  width: 320px;
  transition: all .3s ease;
}
.pic:hover{
transform: scale(1.2);
}
.words{
  margin: 130px 0 0 30px;
}
.lorem{
  float: right;
  width: calc(100% - 270px);
  font-size: 20px;
}
.foot{
  display: inline-block;
  background-color: var(--footer-menu-col);
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.foot-menu{
  float: left;
  vertical-align: center;
  margin: 11px 15px 0 0;
  font-size: 24px;
}
.foot-menu-link{
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
.foot-menu-link:hover{
  text-decoration: underline;
  color: blue;
}
.copy{
  float: right;
  font-size: 24px;
  margin: 11px 15px 0 0;
}
.ramda2{
  font-size: 30px;
}
.ramda2:nth-of-type(1){
  color: var(--ramda-col);
}

